<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <externalcart>
            <active_display>
                <protocol>https://</protocol>
                <hostname>fecom.devphase.io</hostname>
                <port></port>
            </active_display>
        </externalcart>
    </default>
</config>