<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fecon\ExternalCart\Api\CartInterface"
                type="Fecon\ExternalCart\Model\Cart" />
    <preference for="Fecon\ExternalCart\Api\CustomerInterface"
                type="Fecon\ExternalCart\Model\Customer" />
    <preference for="Fecon\ExternalCart\Api\Data\CartInterface"
                type="Fecon\ExternalCart\Model\Data\Cart" />
</config>
