
@import 'lib/_global.less';
@import 'lib/_widget.less';

.widget-wrap {
    h2 {
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        top: -30px;
    }
}

.instagram-header {

    .stripes-background {
        background: url('../DevPhase_Feeds/images/instagram-fecon-background.png');
        background-repeat: no-repeat;
        color: @color-white;
        font-style: italic;
        padding-left: 8%;
        width: 25%;
    }

    .porto-icon-instagram {
        font-size: 40px;
    }

    .instagram-name {
        font-size: 30px;
    }
}

.instagram-widget {
    p {
        font-size: 2rem;
    }
}

//
//    Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .instagram-header {
        div.green-stripes {
            width: 35%;
        }
    }

    .instagram-widget {
        p {
            max-width: 70%;
            margin: 0;
        }
    }
}

//
//    Tablet
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .instagram-header {
        .green-stripes {
            width: 35%;
        }
    }

    .instagram-widget {
        p {
            margin: 1rem 0;
        }
    }
}

//
//    Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .instagram-header {
        .green-stripes {
            width: 50%;
        }
    }
}

//
//    Small Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .instagram-header {
        div.green-stripes {
            width: 60%;
        }
    }
}
