<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="social_config" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="20" translate="label">
            <label>Social Feeds</label>
            <tab>fecon</tab>
            <resource>Fecon_SytelineIntegration::config_fecon_sytelineintegration</resource>
            <group id="setting" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label">
                <label>Instagram</label>
                <field id="instagram_token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Instagram API Token</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>