.page-wrapper {
    .breadcrumbs {
        ul.items {
            background-color: @color-white;
            li.item {
                a {
                    color: @color-gray-darken5;
                }
                color: @color-gray-darken5;
            }
        }
    }
}