.customer-account-index,
.customer-account-login,
.customer-account-create,
.customer-account-forgotpassword,
.customer-address-index,
.customer-address-form,
.customer-account-edit,
.newsletter-manage-index,
.wishlist-index-share,
.wishlist-index-index {
    .page-wrapper {
        #maincontent {
            .page-title-wrapper {
                .page-title {
                    color: @fecon-theme-color;
                }
            }
            .columns {
                .column.main {
                    .login-container,
                    .form-create-account,
                    .password.forget,
                    .form.wishlist.share,
                    .form-address-edit,
                    .form-edit-account,
                    .form-newsletter-manage {
                        box-shadow: 6px 10px 49px @color-gray-darken1;
                        border: none;
                        border-top: 4px solid @fecon-theme-color;
                        border-radius: 4px;
                        background: linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 600%),
                        linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 200%),
                        repeating-linear-gradient(-70deg, @color-soft-black, @color-soft-black 22px, @color-white 23px, @color-white 24px);
                        .fieldset, .block-customer-login, .block-new-customer {
                            color: @color-white;
                            .legend {
                                color: @fecon-theme-color;
                            }
                            .actions-toolbar {
                                .action.remind {
                                    color: @fecon-theme-color;
                                }    
                            }
                        }
                        .actions-toolbar {
                            button {
                                height: 40px;
                            }
                        }
                    }
                    .form.wishlist.share {
                        .fieldset {
                            padding: 15px;
                        }
                    }
                    .block-dashboard-info,
                    .block-dashboard-addresses,
                    .block-addresses-default,
                    .block-addresses-list {
                        .block-title {
                            margin: 5px 3px 10px;
                            color: @fecon-theme-color;
                            a.action {
                                span {
                                    color: @fecon-theme-color;
                                }
                            }
                        }
                        .block-content {
                            .box-information,
                            .box-newsletter,
                            .box-billing-address,
                            .box-shipping-address,
                            .box-address-billing,
                            .box-address-shipping {
                                .box-title, .box-actions {
                                    background-color: @color-gray-darken1;
                                    color: @color-white;
                                    a.action {
                                        font-size: 12px;
                                        color: @fecon-theme-color;
                                    }
                                }
                                .box-content {
                                    color: @color-white;
                                    background: linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 600%),
                                    linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 200%),
                                    repeating-linear-gradient(-70deg, @color-soft-black, @color-soft-black 22px, @color-white 23px, @color-white 24px);
                                }
                                a {
                                    color: @fecon-theme-color;
                                }
                            }
                            .addresses {
                                .item {
                                    address {
                                        font-size: 13px;
                                    }
                                    a { 
                                        font-size: 12px;
                                        color: @fecon-theme-color;
                                    }
                                }
                            }
                        }
                    }
                    .form-wishlist-items {
                        .products-grid {
                            .product-items {
                                li.product-item {
                                    .product-item-info {
                                        border: 1px solid @color-gray-lighten5;
                                        padding: 40px;
                                        background: transparent;
                                        .product-item-photo {
                                            .product-image-container {
                                                background: transparent;
                                            }
                                        }
                                    }
                                    .product-item-name {
                                        font-size: 27px;
                                        a {
                                            color: @color-black;
                                        }
                                    }
                                    .price-configured_price {
                                        .price-container {
                                            .price {
                                                font-size: 28px;
                                            }
                                        }
                                    }
                                    .product-item-inner {
                                        a.action {
                                            font-size: 12px;
                                            color: @fecon-theme-color;
                                        }
                                        .box-tocart {
                                            .product-item-actions {
                                                .actions-primary {
                                                    button {
                                                        &:before {
                                                            content: none;
                                                        }    
                                                    }
                                                }   
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}