@import "_mixins.less";
@import "_header.less";
@import "_minicart.less";
@import "_breadcrumbs.less";
@import "_instafeed.less";
@import "_checkout_page.less";
@import "_homepage.less";
@import "_pages.less";
@import "responsive/_header.less";
@import "responsive/_minicart.less";
@import "responsive/_pages.less";

.green-light-background {
    background: @color-green-light;
    color: @color-white;
}

.italic {
    font-style: italic;
}

.clearfix {
    overflow: auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}