.page-header.type16.header-newskin {
    border-top: 0;
    background-color: #1E1E1E;
    .panel.wrapper {
        border-bottom: 1px solid #ffffff;
        background-color: #393939;
        .panel.header {
            background-color: #494949;
            ul.header.links {
                li {
                    a {
                        color: #FFFFFF;
                    }
                    color: #FFFFFF;
                }
            }
        }
    }
    .header.content {
        background-color: #2A2A2A;
        .block.block-search {
            .block.block-content {
                .minisearch {
                    .field.search {
                        .control {
                            input#search {
                                background-color: #2E2E2E;
                                color: #fff;
                            }
                            ._keyfocus *:focus,
                            input:not([disabled]):focus,
                            textarea:not([disabled]):focus,
                            select:not([disabled]):focus {
                                box-shadow: 0 0 3px 1px #fff;
                            }
                        }
                    }
                }
            }
            .action.search:before {
                color: #fff;
            }
        }
    }
    .sections.nav-sections {
        margin-bottom: 0;
        .section-items.nav-sections-items {
            nav.navigation.sw-megamenu {
                padding: 0;
                ul {
                    background-color: #2A2A2A;
                    li:hover {
                        a {
                            background-color: #494949;
                        }
                    }
                    li {
                        a {
                            color: #FFFFFF;
                        }
                        a:hover {
                            background-color: #494949;
                        }
                        .submenu {
                            background-color: #494949;
                            .container {
                                .row {
                                    .subchildmenu {
                                        background-color: #494949;
                                        li.ui-menu-item {
                                            a {
                                                color: #FFFFFF;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}