html.ie11 {
    body {
        .page-wrapper {            
            .sections.nav-sections {
                .section-items.nav-sections-items {
                    nav.navigation.sw-megamenu {
                        ul {
                            li {
                                a.level-top {
                                    line-height: 0 !important;
                                    vertical-align: middle !important;
                                }
                            }
                        }
                    }
                }
            }
            .header.content {
                .minicart-wrapper {
                    a.action.showcart {
                        .shopping-cart {
                            top: -49px !important;
                        }
                    }
                }
            }
            .page-footer {
                .footer {
                    .footer-bottom {
                        .container {
                            margin-left: 0px !important;
                            .custom-block {
                                width: 31% !important;
                            }   
                        }
                    }
                }
            }
        }
    }
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product.media {
                            .product-add-form {
                                form {
                                    .box-tocart {
                                        .fieldset {
                                            .field.qty {
                                                .control {
                                                    span.icon-down-chevron {
                                                        padding-top: 13px !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}