//
//  Custom Variables
//  _____________________________________________


//
//  Color variables
//  _____________________________________________

@color-gray-darken4: #615F5C;
@color-gray-darken5: #2a2a2a;
@color-gray-darken6: #393939;
@color-gray-darken7: #2e2e2e;
@color-gray-darken8: #1e1e1e;
@color-gray-dark: #201C16;
@color-green-light: #2BB370;
@color-green-dark: #00aa73;
@color-red-button: #b5121b;
@color-brown-light: #9d9681;
@color-grey-lighten3: #8B8A88;

/**** Header ****/
// Color variables
@color-soft-black: #222222;
@color-grey-darken1: #201D16;
@color-gray-darken3: #2a2620;
@color-grey-lighten1: #AAA;
@color-grey-lighten2: #DDD;
@color-blue-lighten1: #0BF;
// Width variables
@width49: 49px;
@width48: 48px;
// Height variables
@height110: 110px;
@height41: 41px;

// Top vars
@top16: 16px;
@zeroPx: 0px;

/**** Minicart ****/

// Color variables
@minicart-green: #2DAA77; 
@color-black: #000000;
@color-grey-darken2: #6F6F6F;
@color-grey-darken9: #777;
@color-gray-light: #EBEBEB;
// Width variables
@width515: 515px;
@width248: 248px;
@width58: 58px; 
// Height variables
@height327: 327px; 
@height133: 133px; 
@height54: 54px; 

/**** Breadcrumb ****/

// Color variables
@color-grey-darken10: #585857;

//
//  Typography
//  _____________________________________________

@font-family-name__verb: 'Verb';
