//
//  Custom Variables
//  _____________________________________________


//
//  Color variables
//  _____________________________________________

@color-gray-darken5: #2a2a2a;
@color-gray-darken6: #393939;
@color-gray-darken7: #2e2e2e;
@color-gray-darken8: #1e1e1e;
@color-green-light: #2BB370;
@color-green-dark: #00aa73;

//
//  Typography
//  _____________________________________________

@font-family-name__verb: 'Verb';
