//
//  Custom Variables
//  _____________________________________________


//
//  Color variables
//  _____________________________________________

@color-gray-darken4: #615F5C;
@color-gray-darken5: #2a2a2a;
@color-gray-darken6: #393939;
@color-gray-darken7: #2e2e2e;
@color-gray-darken8: #1e1e1e;
@color-green-light: #2BB370;
@color-green-dark: #00aa73;

/**** Header ****/

// Color variables
@color-gray-darken3: #2a2620;
@color-soft-black: #222222;
// Height variables
@height110: 110px;
@height41: 41px;

// Top vars
@top16: 16px;

/**** Minicart ****/

// Color variables
@minicart-green: #2DAA77; 
@color-black: #000000; 
@color-gray-light: #EBEBEB;
// Width variables
@width515: 515px;
@width248: 248px;
@width58: 58px; 
// Height variables
@height327: 327px; 
@height133: 133px; 
@height54: 54px; 

//
//  Typography
//  _____________________________________________

@font-family-name__verb: 'Verb';
