@media (max-width: 1610px) {
    .page-wrapper {
        .page-footer {
            .footer {
                .footer-middle {
                    .container {
                        .row {
                            .last-right-block {
                                position: absolute;
                                right: -340px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1324px) {
    .page-wrapper {
        .page-footer {
            .footer {
                .footer-middle {
                    .container {
                        .row {
                            .last-right-block {
                                position: absolute;
                                right: -260px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1084px) {
    .page-wrapper {
        .page-footer {
            .footer {
                .footer-middle {
                    .container {
                        .row {
                            .last-right-block {
                                position: absolute;
                                right: -200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .page-wrapper {
        .page-footer {
            .footer {
                .footer-middle {
                    .container {
                        .row {
                            .left-block-1 {
                                padding-left: 0;
                            }
                            .col-lg-9 {
                                .row {
                                    .block-right {
                                        .right-block-4 {
                                            padding-left: 0px;
                                        }
                                        .right-block-5 {
                                            padding-left: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .footer-bottom {
                    .container {
                        .custom-block {
                            float: left !important; /* Override another !important rule */
                            margin-left: -15px !important;
                        }
                    }
                }
            }
        }
    }
}