{{template config_path="design/email/header_template"}}
<!--@subject External Cart - Admin Notification  @-->
<table>
    <tr class="email-summary">
        <td>
            <h1>External Cart - Admin Notification</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>            
            <table class="message-info">                
                <tr>
                  <td align="center" style="text-align:left;width:30%;font-weight:bold;">There was an error during execution of external cart function, issue was: </td>
                  <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.errorMsg}}</td>
                </tr>
            </table>            
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}