<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Update" xsi:type="object">Fecon\OrsProducts\Console\Command\Update</item>
                <item name="UpdatePrice" xsi:type="object">Fecon\OrsProducts\Console\Command\UpdatePrice</item>
                <item name="Delete" xsi:type="object">Fecon\OrsProducts\Console\Command\Delete</item>
                <item name="Import" xsi:type="object">Fecon\OrsProducts\Console\Command\Import</item>
                <item name="AddSkuPrefix" xsi:type="object">Fecon\OrsProducts\Console\Command\AddSkuPrefix</item>
                <item name="UpdateImage" xsi:type="object">Fecon\OrsProducts\Console\Command\UpdateImage</item>
            </argument>
        </arguments>
    </type>
    <preference for="Fecon\OrsProducts\Api\DataParserInterface" type="Fecon\OrsProducts\Model\DataParser"/>
    <preference for="Fecon\OrsProducts\Api\ImporterInterface" type="Fecon\OrsProducts\Model\Importer"/>
    <preference for="Fecon\OrsProducts\Api\HandlerInterface" type="Fecon\OrsProducts\Model\Handler\BaseHandler"/>
    <virtualType name="Fecon\OrsProducts\Model\OrsProductsImporter" type="Fecon\OrsProducts\Model\Importer">
        <arguments>
            <argument name="imporHandler" xsi:type="object">Fecon\OrsProducts\Model\Handler\SimpleProduct</argument>
        </arguments>
    </virtualType>
    <type name="Fecon\OrsProducts\Console\Command\Import">
        <arguments>
            <argument name="productImporter" xsi:type="object">Fecon\OrsProducts\Model\OrsProductsImporter</argument>
        </arguments>
    </type>
    <virtualType name="Fecon\OrsProducts\Model\OrsPriceImporter" type="Fecon\OrsProducts\Model\Importer">
        <arguments>
            <argument name="imporHandler" xsi:type="object">Fecon\OrsProducts\Model\Handler\PriceHandler</argument>
        </arguments>
    </virtualType>
    <type name="Fecon\OrsProducts\Console\Command\UpdatePrice">
        <arguments>
            <argument name="productImporter" xsi:type="object">Fecon\OrsProducts\Model\OrsPriceImporter</argument>
        </arguments>
    </type>
    <virtualType name="Fecon\OrsProducts\Model\OrsImageImporter" type="Fecon\OrsProducts\Model\Importer">
        <arguments>
            <argument name="imporHandler" xsi:type="object">Fecon\OrsProducts\Model\Handler\ImageUpdater</argument>
        </arguments>
    </virtualType>
    <type name="Fecon\OrsProducts\Console\Command\UpdateImage">
        <arguments>
            <argument name="productImporter" xsi:type="object">Fecon\OrsProducts\Model\OrsImageImporter</argument>
        </arguments>
    </type>
</config>
