<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Update" xsi:type="object">Fecon\OrsProducts\Console\Command\Update</item>
                <item name="UpdatePrice" xsi:type="object">Fecon\OrsProducts\Console\Command\UpdatePrice</item>
                <item name="Delete" xsi:type="object">Fecon\OrsProducts\Console\Command\Delete</item>
                <item name="Import" xsi:type="object">Fecon\OrsProducts\Console\Command\Import</item>
                <item name="AddSkuPrefix" xsi:type="object">Fecon\OrsProducts\Console\Command\AddSkuPrefix</item>
            </argument>
        </arguments>
    </type>
    <preference for="Fecon\OrsProducts\Api\DataParserInterface" type="Fecon\OrsProducts\Model\DataParser"/>
    <virtualType name="Fecon\OrsProducts\Model\OrsProductsImporter" type="Fecon\OrsProducts\Model\Importer">
        <arguments>
            <argument name="imporHandler" xsi:type="object">Fecon\OrsProducts\Model\Handler\SimpleProduct</argument>
        </arguments>
    </virtualType>
</config>
