<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Serfe\Shipping\Api\PreorderRepositoryInterface" type="Serfe\Shipping\Model\PreorderRepository"/>
    <preference for="Serfe\Shipping\Api\Data\PreorderInterface" type="Serfe\Shipping\Model\Preorder"/>
    <preference for="Serfe\Shipping\Api\Data\PreorderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Serfe\Shipping\Model\ResourceModel\Preorder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">serfe_shipping_preorder</argument>
            <argument name="resourceModel" xsi:type="string">Serfe\Shipping\Model\ResourceModel\Preorder\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="serfe_shipping_preorder_grid_data_source" xsi:type="string">Serfe\Shipping\Model\ResourceModel\Preorder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
