<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Serfe::top_level" module="Serfe_SytelineIntegration" resource="Magento_Backend::content" sortOrder="9999" title="Serfe"/>
		<add action="serfe_sytelineintegration/submission/index" id="Serfe::serfe_sytelineintegration_submission" module="Serfe_SytelineIntegration" parent="Serfe::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Submission"/>
	</menu>
</config>
