<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ApiTest" xsi:type="object">Serfe\SytelineIntegration\Console\Command\ApiTest</item>
            </argument>
        </arguments>
    </type>
    <type name="Serfe\SytelineIntegration\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Serfe\SytelineIntegration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sytelineLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Serfe\SytelineIntegration\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Serfe\SytelineIntegration\Api\SubmissionRepositoryInterface" type="Serfe\SytelineIntegration\Model\SubmissionRepository"/>
    <preference for="Serfe\SytelineIntegration\Api\Data\SubmissionInterface" type="Serfe\SytelineIntegration\Model\Submission"/>
    <preference for="Serfe\SytelineIntegration\Api\Data\SubmissionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Serfe\SytelineIntegration\Model\ResourceModel\Submission\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">serfe_sytelineintegration_submission</argument>
            <argument name="resourceModel" xsi:type="string">Serfe\SytelineIntegration\Model\ResourceModel\Submission\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="serfe_sytelineintegration_submission_grid_data_source" xsi:type="string">Serfe\SytelineIntegration\Model\ResourceModel\Submission\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Service\OrderService">
        <plugin name="Serfe_SytelineIntegration_Plugin_Magento_Sales_Model_Service_OrderService" type="Serfe\SytelineIntegration\Plugin\Magento\Sales\Model\Service\OrderService"/>
    </type>
</config>
