<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageWorx\GeoIP\Controller\Adminhtml\Database\Update" type="Core\GeoIP\Controller\Adminhtml\Database\Update" />
    <preference for="MageWorx\GeoIP\Model\Geoip" type="Core\GeoIP\Model\Geoip" />
</config>
