<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Fecon_AskAnExpert::AskAnExpert" 
            title="Ask An Expert" 
            module="Fecon_AskAnExpert" 
            sortOrder="50" 
            parent="Fecon::fecon_top_level" 
            resource="Fecon_AskAnExpert::askanexpert"
        />
        
        <add 
            id="Fecon_AskAnExpert::AskAnExpert_manage_submissions" 
            title="Manage Submissions" 
            module="Fecon_AskAnExpert" 
            sortOrder="60" 
            parent="Fecon_AskAnExpert::AskAnExpert" 
            action="askanexpert/index/index" 
            resource="Fecon_AskAnExpert::askanexpert"
        />
    </menu>
</config>