<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sso" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="80" translate="label">
            <label>SSO</label>
            <tab>fecon</tab>
            <resource>Fecon_Sso::config_fecon_sso</resource>
            <group id="setting" showInDefault="1" showInStore="0" showInWebsite="1" translate="label">
                <label>Settings</label>
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="1" canRestore="1" translate="label" type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="idp_id" showInDefault="1" showInStore="0" showInWebsite="1" canRestore="1" translate="label" type="text">
                    <label>Identity Provider ID</label>
                </field>
            </group>
        </section>
    </system>
</config>