body.catalog-category-view {
    .page-wrapper {
      > .breadcrumbs {
        text-align: center;
      }
    }
    overflow-x: hidden;
    main#maincontent {
        .page-title-wrapper {
            display: block;
            text-align: center;
            h1.page-title {
              overflow: hidden;
              color: black;
              display: block;
              text-align: center;
              font-size: 3.4rem;
              font-weight: 500;
              text-transform: uppercase;
                span {
                    position: relative;
                    display: inline-block;
                    &:before,
                    &:after {
                      content: "";
                      position: absolute;
                      height: 4px;
                      background-color: @fecon-theme-color;
                      top: 50%;
                      width: 50vw;
                      transform: translateY(-50%);
                    }
                    &:before {
                      right: 100%;
                      margin-right: 10px;
                    }
                    &:after {
                      left: 100%;
                      margin-left: 10px;
                    }
                }
            }
        }
    }

    &.page-ready {
      .product-item-photo {
         > a:not(.weltpixel-quickview):before {
            display: none!important;
         }
      }
    }
}
body {
    .page-wrapper {
        main#maincontent {
            .columns {
                .column.main {
                    #layer-product-list {
                        .toolbar-products {
                            .pages {
                                float: none;
                                strong.label.pages-label {
                                    display: none;
                                }
                                .items.pages-items {
                                    list-style: none;
                                    .item {
                                        a.page {
                                            span {
                                               font-size: 20px;
                                               color: @fecon-theme-color;
                                               padding: 20px;
                                            }
                                            span.label {
                                                display: none;
                                            }
                                        }
                                        border: 1px solid @fecon-theme-color;
                                        width: 55px;
                                        height: 55px;
                                        padding-top: 12px;
                                        display: inline-block;
                                        margin-left: 10px;
                                        background: @color-white;
                                    }
                                    .item.current {
                                        border: 1px solid @fecon-theme-color;
                                        background: @fecon-theme-color;
                                        .page {
                                            span {
                                                font-size: 20px;
                                                color: @color-white;
                                                padding: 20px;
                                            }
                                            .label {
                                                display: none;
                                            }
                                        }
                                    }
                                    .pages-item-previous,.pages-item-next {
                                        display:none ;
                                    }
                                }
                            }
                        }
                        .products.wrapper {
                            .product-items {
                                li.product-item {
                                    padding: 0;
                                    margin-left: -1px;
                                    margin-bottom: -1px;
                                    .product-item-info {
                                        border: 1px solid @color-gray-lighten1;
                                        min-height: 60vh;padding-top: 10px;
                                        .product-item-photo {
                                            height: 432px;
                                            width: 75%;
                                            margin: 0 auto;
                                        }
                                        .product-item-details {
                                            strong.product-item-name {
                                                a.product-item-link {
                                                    font-size: 20px;
                                                    font-weight: 500;
                                                    color: @color-black;
                                                }
                                            }
                                            .product-reviews-summary {
                                                .rating-summary {
                                                    .rating-result {
                                                        width: 110px;
                                                        height: 20px;
                                                        &:before {
                                                            top: 3px;
                                                            font-size: 20px;
                                                            height: 22px;
                                                        }
                                                        span {
                                                            &:before {
                                                                color: @fecon-theme-color;
                                                                font-size: 20px;
                                                                height: 17px;
                                                                margin-top: 3px;
                                                                margin-left: 1px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
