//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .account {
        .columns {
            display: block;
        }
    }

    .block-collapsible-nav {
        display: none;
    }

    .products-grid.wishlist .product-item .tocart {
        min-width: 145px !important;
        padding: 16px 0 12px !important;
    }
}
