.page-wrapper {
  .page-footer {
        .footer {
          background-color: @color-black;
          padding: 0 12px;
            border-top: 6px solid @minicart-green;
            .footer-top, .footer-middle, .footer-bottom {
                background-color: @color-black;
            }
            .footer-middle {
                .container {
                    width: 65%;
                    margin-left: 84px;
                    margin-right: 84px;
                    @media screen and (max-width: @screen__xs) {
                      width: 98%;
                      margin: 0 auto;
                    }
                    .row {
                        .left-block-1 {
                            padding-right: 0;
                        }
                        .row {
                            .block-right {
                                .right-block-2,
                                .right-block-3,
                                .right-block-4,
                                .right-block-5 {
                                    padding-left: 5px;
                                    @media (max-width: 480px) {
                                      padding-left: 0; 
                                    }
                                }
                            }
                        }
                        .block {
                            display: inline-block;
                            .block-title {
                                margin-bottom: 5px;
                                strong {
                                    font-size: 14px;
                                }
                            }
                            .block-content {
                                font-size: 14px;
                                text-transform: uppercase;
                                font-weight: 400;
                                li {
                                    padding-bottom: 0;
                                    p {
                                        color: @color-white;
                                    }
                                }
                                ul {
                                    li {
                                        a {
                                            color: @color-white;
                                        }
                                    }
                                    list-style: none;
                                }
                            }
                        }
                        .last-right-block {
                            position: absolute;
                            right: -500px;
                            .social-media-icons {
                                width: 144px;
                                margin-bottom: 30px;
                                .icon-facebook, .icon-twitter, .icon-instagram {
                                    padding-bottom: 18px;
                                    padding-right: 28px;
                                    margin-left: 15px;
                                }
                                .icon-facebook {
                                    background: url('../images/social_media/facebook_icon.png') no-repeat;
                                }
                                .icon-twitter {
                                    background: url('../images/social_media/twitter_icon.png') no-repeat;
                                }
                               .icon-instagram {
                                    background: url('../images/social_media/instagram_icon.png') no-repeat;
                                }
                            }
                            .visit-fecon-btn {
                                width: 144px;
                                min-height: 40px;
                                background: transparent;
                                text-align: center;
                                margin: 3em 0 1em;
                                a {
                                  border: 1px solid @minicart-green;
                                  background: transparent;
                                   padding: 12px;
                                   text-transform: uppercase;
                                   color: @minicart-green;

                                   &:hover {
                                     background-color: @minicart-green;
                                     color: white;
                                     text-decoration: none;
                                   }
                                }
                            }
                            .footer-logo {
                                background: url('../images/fecon_footer_logo.png') no-repeat;/*older browser*/
                                background-image: url('../images/fecon-letters.svg');
                                background-size: contain;
                                padding-left: 200px;
                                padding-bottom: 50px;
                                margin-left: -32px;
                                @media screen and (max-width: @screen__xs) {
                                    margin-left: -10px;
                                }
                            }
                        }
                    }
                }
            }
            .footer-bottom {
                .container {
                    margin-left: 85px;
                    @media screen and (max-width: @screen__xs) {
                        margin-left: 4px;
                    }
                    .custom-block {
                        .row {
                            .block-bottom {
                                border: none;
                                .row {
                                    padding-right: 0 !important;
                                    padding-right: 10px;
                                    address {
                                        font-size: 14px;
                                        text-transform: uppercase;
                                        font-weight: 400;
                                        color: @color-white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
