.page-header.type16.header-newskin {
	border-top: 0;
	.panel.wrapper {
		.panel.header {
			position: relative;
			max-width: 100%;
			height: 40px;
			padding: 0;
			background-color: @color-whisper;
			.main-nav {
				position: absolute;
				top: 0;
				right: 100px;
				left: 100px;
				margin: 0;
				padding: 0;
				font-size: 0;
				text-align: center;
				li {
					display: inline-block;
					vertical-align: top;
					margin: 0 15px;
					font-size: @fontsize-bodyS;
					line-height: 39px;
					a {
						display: block;
						padding-top: 1px;
						color: @color-nobel;
						transition-duration: 0.25s;
						transition-property: color;
					}
					a:hover {
						text-decoration: none;
						color: @color-night-rider;
					}
				}
				li:first-child {
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					font-size: @fontsize-bodyXL;
				}
			}
			
			.header.links {
				padding-right: 15px;
				li {
					display: inline-block;
					vertical-align: top;
					margin: 0 15px;
					padding: 0;
					a {
						display: block;
						padding: 1px 0 0;
						font-size: @fontsize-bodyS;
						line-height: 39px;
						letter-spacing: 0;
						color: @color-nobel;
						transition-duration: 0.25s;
						transition-property: color;
					}
					a:hover {
						text-decoration: none;
						color: @color-night-rider;
					}
				}
				li:last-child {
					display: none;
				}
				.greet.welcome {
					display: none;
				}
/*
                li {
                    color: @color-gray-lighten2;
                    a, span {
                        font-size: 14px;
                        color: @color-nobel;
                    }
                }
                li.customer-welcome {
                    span {
                        cursor: pointer;
                    }
                    .customer-menu {
                        ul.header.links {
                            border-top: 3px solid @fecon-theme-color;
                            margin-top: 4px;
                            display: flex;flex-direction: column;


                            li {
                              //dropdown sort order
                              &:first-child {
                                order: 1;
                              }
                              &:nth-child(2) {
                                order: 2;
                              }
                              &:nth-child(3) {
                                order: 4;
                              }
                              &:nth-child(4) {
                                order: 3;
                              }

                              a {
                                color: @color-black !important;
                              }

                              &.link.wishlist {
                                  a {
                                      span.counter.qty {
                                          color: @fecon-theme-color;
                                      }
                                  }
                              }

                              &:last-child:not(.toplink) {
                                  display: block!important;
                              }
                            }
                        }
                    }
                }
                li:last-child:not(.toplink) {
                    display: none;
                }
*/
            }
			
			
/*
			.magnifying-glass {
                height: @height41;
                border-left: 1px solid @color-gray-lighten2;
                margin-top: -10px;
                display: inline-block;
                position: relative;
                overflow: hidden;
                float: right;
                color: @color-gray-lighten2;
                img {
                    position: absolute;
                    top: 2px;
                    left: 5px;
                    padding: 8px 4px 8px 8px ;
                    color: @color-gray-darken9;
                    cursor: pointer;
                    transition: 0.24s;
                }
                img:hover {
                    color: @color-blue-lighten1;
                    cursor: pointer;
                }
                .block-search {
                    .block-content {
                        .minisearch {
                            .actions {
                                button.action.search {
                                    display: inline-block;
                                    margin-top: -4px;
                                    margin-right: -146px;
                                    background-image: url('../images/magnifying-glass-green.png');
                                    background-color: transparent;
                                    background-repeat: no-repeat;
                                    border: none;
                                    width: @width48;
                                    cursor: pointer;
                                    span {
                                        display: none !important;
                                    }
                                    &:before {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }
                    max-width: @width49;
                    margin-bottom:@zeroPx;
                    margin-top:@zeroPx;
                    margin-left:@zeroPx;
                    input {
                        height: @height41;
                        border:none;
                        border-radius: @zeroPx;
                        background: transparent;
                        padding: 8px @zeroPx 8px 34px;
                        width: @zeroPx;
                        display:block;
                        box-sizing: border-box;
                        font-size: 14px;
                    }
                    input:focus {
                        background: @color-white;
                        border-color: @color-gray-lighten1;
                        outline: none;
                        width:220px;
                        padding: 12px 12px 12px 34px;
                        border-color: @color-blue-lighten1;
                    }
                    input:focus + img {
                        padding: 12px 4px 12px 8px ;
                        color: @color-gray-lighten2;
                        pointer-events: none;
                    }
                }
            }
*/
		}
	}
	
	.header.content {
		position: relative;
		max-width: 100%;
		height: 100px;
		padding: 0;
		.logo {
			position: absolute;
			top: 50%;
			left: 100px;
			margin: 0;
			transform: translateY(-50%);
		}
		
		.minicart-wrapper {
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			width: 100px;
			height: 100px;
			margin: 0;
			padding: 0;
			background-color: @color-primary;
			transition-duration: 0.25s;
			transition-property: background-color;
			a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 0;
			}
			.text {
				display: none;
			}
			.cart-img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60px;
				height: 60px;
				margin: -30px 0 0 -30px;
				padding: 0;
				background-position: 50% 50%;
				background-size: 100% auto;
			}
			.counter.qty {
				position: absolute;
				top: 50%;
				right: auto;
				left: 50%;
				width: 48px;
				height: auto;
				margin: -2px 0 0 5px;
				padding: 0;
				background-color: transparent;
				font-size: @fontsize-bodyXS;
				line-height: 20px;
				text-align: center;
				transform: translate(-50%, -50%);
			}
			.counter-label {
				display: none;
			}
		}
		.minicart-wrapper:hover {
			background-color: @color-primary-hover;
		}
		
		.block-search {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 400px;
			margin: 0;
			transform: translate(-50%, -50%);
			label {
				display: none;
			}
			input {
				border: none;
				background-color: @color-white-smoke;
				color: @color-night-rider;
				transition-duration: 0.25s;
				transition-property: box-shadow;
			}
			input:focus {
				box-shadow: 0 0 2px 0 @color-primary-hover;
			}
		}
	}
	
	.catalog-nav {
		background-color: @color-whisper;
		.nav-sections {
			margin-top: 0;
			margin-bottom: 0;
			white-space: nowrap;
			nav.navigation.sw-megamenu {
				padding: 0;
				ul {
					background-color: transparent;
					text-align: center;
					li {
						a {
							padding: 1px 30px 0;
							font-size: @fontsize-bodyL;
							font-weight: 400;
							line-height: 49px;
							color: @color-night-rider;
							transition-duration: 0.25s;
							transition-property: background-color;
						}
						a:hover {
							background-color: rgba(255,255,255,0.5);
							color: @color-night-rider;
						}
					}
					.level0:hover {
						background-color: transparent;
						color: inherit;
					}
					.level0:first-child {
						display: none;
					}
				}
			}
		}
	}
	
	.mobile-nav {
		display: none;
	}
    /* This is only to exclude from mobile sizes */
/*
    @media (min-width: 768px) {
        .sections.nav-sections {
            .section-items.nav-sections-items {
                nav.navigation.sw-megamenu {
                    padding: 0;
                    ul {
                        li {
                            margin-right: 5rem;
                            a, span {
                              line-height: 4rem;
                              font-size: 2rem;
                              font-weight: 400;
                              color: @color-white;
                              line-height: 110px;
                              height: 110px;
                            }
                            a:hover {
                                background-color: @color-gray-darken4;
                            }
                            .submenu {
                                background-color: @color-gray-darken4;
                                .container {
                                    .row {
                                        .subchildmenu {
                                            background-color: @color-gray-darken4;
                                            li.ui-menu-item {
                                                a {
                                                    color: @color-white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                a {
                                    background-color: @color-gray-darken4;
                                }
                            }
                            &.ui-menu-item.level0:first-child {
                                display: none;
                            }
                            &.parent {
                                a {
                                  line-height: 24px;
                                  height: auto;
                                    &:after {
                                        content: '';
                                        background: url('../images/down-chevron-white.png') no-repeat 49% 45%;
                                        width: 24px;
                                        height: 50px;
                                        margin-top: -4px;
                                        margin-left: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
*/
}


#google_translate_element {
	position: relative;
	float: right;
	margin: 10px 15px 10px 0;
	padding-right: 30px;
	border-right: 1px solid @color-silver;
	.goog-te-gadget {
		font-family: inherit;
		font-size: @fontsize-bodyS;
		line-height: 19px;
		text-transform: uppercase;
		.goog-te-gadget-simple {
			display: block;
			padding: 1px 0 0;
			border: none;
			font-size: inherit;
			background-color: transparent;
			> span {
				display: block;
			}
			.goog-te-gadget-icon {
				display: none;
			}
			.goog-te-menu-value {
				display: block;
				margin: 0;
				color: @color-nobel;
				transition-duration: 0.25s;
				transition-property: color;
				img {
					display: none;
				}
				span:nth-child(3),
				span:nth-child(5) {
					display: none;
				} 
			}
			.goog-te-menu-value:hover {
				text-decoration: none;
				color: @color-night-rider;
			}
		}
	}
}


@media (max-width: 1199.98px) {
	.page-header.type16.header-newskin {
		.panel.wrapper {
			.panel.header {
				.main-nav {
					right: 30px;
					left: 30px;
				}
			}
		}
		.header.content {
			height: 80px;
			.logo {
				left: 30px;
				img {
					width: 200px;
				}
			}
			.minicart-wrapper {
				width: 80px;
				height: 80px;
			}
		}
	}
}


@media (max-width: 991.98px) {
	.page-header.type16.header-newskin {
		.panel.wrapper {
			.panel.header {
				.main-nav {
					li {
						margin: 0 10px;
					}
					li:first-child {
						font-size: @fontsize-bodyL;
					}
				}
				.header.links {
					padding-right: 10px;
					li {
						margin: 0 10px;
					}
				}
			}
		}
		.header.content {
			.logo {
				height: auto;
				img {
					width: 160px;
				}
			}
		}
		.catalog-nav {
			.nav-sections {
				nav.navigation.sw-megamenu {
					ul {
						li {
							a {
								padding: 1px 20px 0;
								font-size: @fontsize-bodyM;
							}
						}
					}
				}
			}
		}
	}
	#google_translate_element {
		margin-right: 10px;
		padding-right: 20px;
		.goog-te-gadget {
			.goog-te-gadget-simple {
				padding: 0;
				> span {
					width: 20px;
					height: 20px;
					padding: 0;
					font-size: 0;
					background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="#999999" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm-32 50.8v11.3c0 11.9-12.5 19.6-23.2 14.3l-24-12c14.9-6.4 30.7-10.9 47.2-13.6zm32 369.8V456c-110.3 0-200-89.7-200-200 0-29.1 6.4-56.7 17.6-81.7 9.9 14.7 25.2 37.4 34.6 51.1 5.2 7.6 11.2 14.6 18.1 20.7l.8.7c9.5 8.6 20.2 16 31.6 21.8 14 7 34.4 18.2 48.8 26.1 10.2 5.6 16.5 16.3 16.5 28v32c0 8.5 3.4 16.6 9.4 22.6 15 15.1 24.3 38.7 22.6 51.3zm42.7 22.7l17.4-46.9c2-5.5 3.3-11.2 4.8-16.9 1.1-4 3.2-7.7 6.2-10.7l11.3-11.3c8.8-8.7 13.7-20.6 13.7-33 0-8.1-3.2-15.9-8.9-21.6l-13.7-13.7c-6-6-14.1-9.4-22.6-9.4H232c-9.4-4.7-21.5-32-32-32s-20.9-2.5-30.3-7.2l-11.1-5.5c-4-2-6.6-6.2-6.6-10.7 0-5.1 3.3-9.7 8.2-11.3l31.2-10.4c5.4-1.8 11.3-.6 15.5 3.1l9.3 8.1c1.5 1.3 3.3 2 5.2 2h5.6c6 0 9.8-6.3 7.2-11.6l-15.6-31.2c-1.6-3.1-.9-6.9 1.6-9.3l9.9-9.6c1.5-1.5 3.5-2.3 5.6-2.3h9c2.1 0 4.2-.8 5.7-2.3l8-8c3.1-3.1 3.1-8.2 0-11.3l-4.7-4.7c-3.1-3.1-3.1-8.2 0-11.3L264 112l4.7-4.7c6.2-6.2 6.2-16.4 0-22.6l-28.3-28.3c2.5-.1 5-.4 7.6-.4 78.2 0 145.8 45.2 178.7 110.7l-13 6.5c-3.7 1.9-6.9 4.7-9.2 8.1l-19.6 29.4c-5.4 8.1-5.4 18.6 0 26.6l18 27c3.3 5 8.4 8.5 14.1 10l29.2 7.3c-10.8 84-73.9 151.9-155.5 169.7z"></path></svg>');
					background-size: 100% 100%;
				}
			}
		}
	}
}


@media (max-width: 767.98px) {
	.page-header.type16.header-newskin {
		.panel.wrapper {
			.panel.header {
				.main-nav {
					display: none;
				}
				.header.links {
					margin-right: 0;
				}
			}
		}
		.header.content {
			height: 60px;
			.logo {
				left: 20px;
				height: auto;
				img {
					width: 120px;
				}
			}
			.minicart-wrapper {
				right: 0;
				width: 60px;
				height: 60px;
				.cart-img {
					width: 44px;
					height: 44px;
					margin: -22px 0 0 -22px;
				}
				.counter.qty {
					margin-left: 4px;
				}
			}
			.burger,
			.nav-toggle {
				position: absolute;
				top: 0;
				right: 61px;
				width: 60px;
				height: 60px;
				margin: 0;
				background-color: @color-primary;
				cursor: pointer;
				transition-duration: 0.25s;
				transition-property: background-color;
				span {
					display: none;
				}
			}
			.burger:hover,
			.nav-toggle:hover {
				background-color: @color-primary-hover;
			}
			.burger::after,
			.nav-toggle::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 24px;
				height: 2px;
				margin: -1px 0 0 -12px;
				background-color: @color-white;
				box-shadow: 0 6px 0 @color-white, 0 -6px 0 @color-white;
			}
			.nav-toggle::before {
				display: none;
			}
			.block-search {
				top: -39px;
				left: 0;
				width: auto;
				transform: none;
				.control {
					margin: 0;
					padding: 0;
					input {
						position: static;
						left: auto;
						width: 82px;
						margin: 0;
						padding-right: 20px;
						padding-left: 20px;
						background-color: @color-whisper;
					}
					input:focus {
						width: 100vw;
						box-sizing: border-box;
						box-shadow: none;
					}
				}
			}
		}
		.catalog-nav {
			display: none;
		}
		.mobile-nav {
			position: fixed;
			z-index: 100;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			padding: 0 20px;
			background-color: #fff;
			text-align: center;
			pointer-events: none;
			opacity: 0;
			transition-duration: 0.25s;
			transition-property: opacity;
			.sw-megamenu.navigation {
				margin-bottom: 15px;
			}
			.sw-megamenu.navigation li.ui-menu-item > a {
				padding: 5px 0;
			}
			.nav-sections-item-title {
				display: none;
			}
			.navigation li.level0 {
				border-top: 0;
				font-size: @fontsize-bodyM;
				line-height: @linehight-body;
			}
			.navigation li.level0:first-child {
				display: none;
			}
			.main-nav {
				margin: 0;
				padding: 0;
				list-style: none;
				a {
					color: @color-night-rider;
				}
			}
		}
		.mobile-nav_visible {
			pointer-events: auto;
			opacity: 1;
		}
		.mobile-nav__close {
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			width: 60px;
			height: 60px;
		}
		.mobile-nav__close::after,
		.mobile-nav__close::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 4px;
			margin: -2px 0 0 -12px;
			background-color: @color-nobel;
			transform: rotate(45deg);
		}
		.mobile-nav__close::before {
			transform: rotate(-45deg);
		}
	}
}


/*
.goog-te-gadget-simple  {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  border-radius: 4px !important;
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  display: inline-block;
  cursor: pointer;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: @color-gray-lighten2 !important;
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none !important;
}

.goog-te-gadget-icon {
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    display: none;
}
*/
/* Fix only for Firefox */
/*
@supports (display: -moz-grid) {
    .page-header.type16.header-newskin {
        .header.content {
            .shopping-cart {
                top: -48px;
            }
        }
    }
    #google_translate_element {
      top: 4.5px;
    }
}
*/
