body { overflow-x: hidden; }


.cms-index-index {
	.page-wrapper {
		.page-main {
			.columns {
				.column.main {
					padding-bottom: 0;
				}
			}
		}
	}
	

	#banner-slider-carousel {
		margin-top: 0;
		margin-bottom: 0;
		.owl-stage-outer {
			.owl-stage {
				.owl-item {
					.item {
						.black-overlay {
							margin: 0 100px;
							background: rgba(0,0,0,0.5);
							.container {
								max-width: none;
								padding: 0;
								img {
									width: auto;
									height: 500px;
								}
								.content {
									position: absolute;
									top: 50%;
									left: 100px;
									width: 600px;
									color: @color-white;
									transform: translateY(-50%);
									p {
										margin: 0;
									}
									.white-header,
									.green-header {
										font-size: 60px;
										line-height: 1.25;
										font-weight: 700;
									}
									.banner-subtitle {
										font-size: @fontsize-bodyM;
										line-height: @linehight-bodyL;
									}
									.btn-red-slider {
										margin-top: 30px;
										padding: 16px 60px 14px;
										background-color: @color-secondary;
										font-size: @fontsize-bodyL;
										font-weight: 700;
										text-transform: uppercase;
										color: @color-white;
									}
									.big-gray-underline {
										margin-bottom: 30px;
										padding-bottom: 30px;
										border-bottom: 2px solid #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	
	.filterproduct-title {
		position: relative;
		margin-top: 0;
		font-size: @fontsize-headingL;
		line-height: @linehight-heading;
		font-weight: @font-weight__semibold;
		text-align: center;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			margin-top: -4px;
			border-bottom: 2px solid @color-green-dark;
			
		}
		.content {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 0 15px;
			background-color: @color-white;
		}
		& + a {
			display: table;
			margin: 0 auto;
			font-size: @fontsize-bodyS;
			line-height: 24px;
			color: @color-primary;
			.arrow {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 24px;
				height: 24px;
				margin: -1px 0 1px 10px;
				border-radius: 50%;
				background-color: @color-secondary;
				color: #fff;
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 20px;
					height: 20px;
					margin: -10px 0 0 -10px;
				}
			}
		}
	}


	.homepage-bar {
		border: none;
		background-color: @color-whisper;
		text-align: center;
		.container-fluid {
			padding-right: 100px;
			padding-left: 100px;
			.col-lg-4 {
				padding: 30px 15px;
				border-left: 1px solid #fff;
				svg {
					display: inline-block;
					vertical-align: top;
					width: 60px;
					height: 60px;
					line-height: 1;
					color: @color-secondary;
				}
				.text-area {
					display: inline-block;
					vertical-align: top;
					margin: 9px 0 9px 15px;
					h3 {
						font-size: @fontsize-bodyS;
						line-height: 1.5;
						font-weight: 700;
						text-transform: uppercase;
						color: @color-night-rider;
					}
					p {
						font-size: @fontsize-bodyS;
						line-height: 1.5;
						color: @color-dim-gray;
					}
				}
			}
			.col-lg-4:first-child {
				border-left: 0;
			}
		}
	}
	
	
	body& .page-wrapper main#maincontent {
		max-width: none;
		padding: 0;
	}
	
	
	.shop-products-section {
		margin-top: 60px;
		margin-bottom: 90px;
		.container-fluid {
			padding-right: 100px;
			padding-left: 100px;
			.category-blocks {
				margin: 0 -15px;
			}
			.products {
				margin: 0;
				.product-item {
					width: 33.333%;
					margin-top: 30px;
					padding: 0 15px;
				}
				.product-item-photo {
					position: relative;
					overflow: hidden;
					padding-top: 100%;
					background-color: @color-whisper;
					a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 1px solid @color-whisper;
					}
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						width: auto;
						height: auto;
						width: 100%;
						transform: translate(-50%, -50%);
					}
				}
				.product-item-details {
					padding: 0;
					.product-item-name {
						position: relative;
						margin: 0;
						background-color: @color-nobel;
						a {
							position: relative;
							display: block;
							padding: 15px;
							font-size: @fontsize-bodyXL !important;
							line-height: @linehight-heading;
							text-transform: uppercase;
							color: #fff;
							.arrow {
								position: relative;
								display: block;
								width: 28px;
								height: 28px;
								margin: 0 auto;
								border-radius: 50%;
								background-color: @color-secondary;
								color: #fff;
								svg {
									position: absolute;
									top: 50%;
									left: 50%;
									width: 20px;
									height: 20px;
									margin: -10px 0 0 -10px;
								}
							}
						}
						a:hover {
							text-decoration: none;
						}
					}
				}
			}
			.owl-item {
				.product-item {
					width: 100%;
					padding: 0 15px !important;
				}
				.product-item:hover {
					.product-item-info {
						box-shadow: none;
					}
				}
				.product-item-photo {
					background-color: transparent;
					img {
						width: auto;
						max-width: 75%;
					}
				}
				.product-item-details {
					.product-item-name {
						background-color: transparent;
						a {
							padding: 15px 0 0;
							font-size: @fontsize-bodyL !important;
							color: @color-night-rider;
						}
					}
				}
			}
			#featured_brands {
				.product-item-details {
					display: none;
				}
			}
		}
    }


    .featured-callout {
        .col-md-12 {
            padding: 0;
        }

        .featured-background {
            margin: 100px 0;
            max-height: 490px;
            background: url('/media/wysiwyg/homepage/home-slider-bg-2.jpg') center center no-repeat;
            background-size: cover;
        }

        .featured-content {
            display: inline-block;
            vertical-align: top;
            width: 48%;

            &:first-child {
                padding-left: 100px;
                padding-top: 100px;
            }

            .green-header {
                -webkit-box-shadow: 0px 0px 76px 66px rgba(0,0,0,0.46);
                -moz-box-shadow: 0px 0px 76px 66px rgba(0,0,0,0.46);
                box-shadow: 0px 0px 76px 66px rgba(0,0,0,0.46);
                background: rgba(0,0,0,0.46);
            }

            img {
                margin-top: -7%;
            }

            p {
                text-align: left;
            }

            .white-header {
                color: @color-white;
                font-size: 50px;
            }
        }
    }
    
    
    .social-feed-header {
        margin-top: 80px;
        position: relative;
        background: url('/media/wysiwyg/homepage/above_social_feed_img.png') center center no-repeat;
        height: 532px;
        background-size: cover;
        .image-overlay {
            position: absolute;
            top: 0;
            z-index: 10;
            width: 1067px;
            height: 532px;
            background: rgba(43, 42, 42, 0.8);
            transform: skew(162.25deg);
            right: -100px; 
            .testimonial-text-container {
                span.first-double-quote {
                    background: url('../images/guillemet-left.png') no-repeat;
                    padding: 16px;
                    top: 140px;
                    position: absolute;
                    left: 110px;
                }
                .testimonial-text {
                    color: @color-white;
                    font-size: 19px;
                    padding: 150px 150px 15px;
                    padding-right: 277px;
                }
                .testimonial-type {
                    color: @color-white;
                    font-size: 18px;
                    text-align: right;
                    margin-right: 330px;
                }
                span.last-double-quote {
                    background: url('../images/guillemet-right.png') no-repeat;
                    padding: 16px;
                    top: 240px;
                    position: absolute;
                    right: 270px;
                }
            }
        }
    }
    
    
    .social-feed-title-container {
        background: rgba(43, 42, 42, 1);
        color: white;
        height: 133px;
        position: relative;
        .sf-strip-lines {
            background: linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 200%), repeating-linear-gradient(-72deg, @color-soft-black, @color-soft-black 22px, #5f5f5f 23px, @color-gray-darken10 24px);
            height: 132px;
            width: 45.5%;
        }
        .sf-title-overlay {
            position: absolute;
            top: 0;
            z-index: 10;
            width: 1173px;
            height: 133px;
            background: rgba(43, 42, 42, 1);
            transform: skew(162.25deg);
            right: -100px; 
        }
        .social-feed-title {
            margin-top: -60px;
            font-size: 70px;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 6px solid @fecon-theme-color;
            width: 455px;
            margin-left: 152px;
        }
    }


    .pre-footer-container {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 600%), linear-gradient(to right, @color-gray-darken3, transparent, @color-gray-darken3 200%), repeating-linear-gradient(-70deg, @color-soft-black, @color-soft-black 22px, @color-white 23px, @color-white 24px);
        height: 550px;
        background-color: @color-gray-darken5;
        position: relative;
        .pf-img-left {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/media/wysiwyg/homepage/pre-footer-img-left_h400.png') center center no-repeat;
            padding: 0 451px 400px 400px;
            position: absolute;
            top: 75px;
            left: 80px;
            span.title-link {
                &:before {
                    content: 'view attachments';
                }
            }
        }
        .pf-img-right {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/media/wysiwyg/homepage/pre-footer-img-right_h400.png') center center no-repeat;
            padding: 0 353px 400px 497px;
            position: absolute;
            top: 75px;
            right: 90px;
            span.title-link {
                &:before {
                    content: 'product registration';
                }
            }
        }

        .pf-img-left,
        .pf-img-right {
            border: 1px solid @color-white;
            span.title-link {
                text-transform: uppercase;
                font-size: 42px;
                font-weight: 600;
                color: @color-white;
                position: absolute;
                top: 170px;
                left: 195px;
            }
        }
    }
}


@media (max-width: 1199.98px) {
	.cms-index-index {
		.homepage-bar {
			.container-fluid {
				padding-right: 30px;
				padding-left: 30px;
				.col-lg-4 {
					svg {
						display: block;
						margin: 0 auto;
					}
					.text-area {
						display: block;
						margin: 10px 0 0;
						text-align: center;
					}
				}
			}
		}
		
		
		#banner-slider-carousel {
			margin-top: 0;
			margin-bottom: 0;
			.owl-stage-outer {
				.owl-stage {
					.owl-item {
						.item {
							.black-overlay {
								margin: 0 30px;
								.container {
									max-width: none;
									padding: 0;
									.content {
										left: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
		
		
		.shop-products-section {
			margin-top: 30px;
			.container-fluid {
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}
}


@media (max-width: 991.98px) {
	.cms-index-index {
		#banner-slider-carousel {
			margin-top: 0;
			margin-bottom: 0;
			.owl-stage-outer {
				.owl-stage {
					.owl-item {
						.item {
							.black-overlay {
								margin: 0 20px;
								.container {
									.content {
										left: 50%;
										text-align: center;
										transform: translate(-50%,-50%);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 767.98px) {
	.cms-index-index {
		#banner-slider-carousel {
			margin-top: 0;
			margin-bottom: 0;
			.owl-stage-outer {
				.owl-stage {
					.owl-item {
						.item {
							.black-overlay {
								margin: 0 20px;
								.container {
									.content {
										width: 100vw;
										padding: 0 40px;
										.green-header,
										.white-header {
											font-size: 30px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		
		
		.homepage-bar {
			.container-fluid {
				padding-right: 20px;
				padding-left: 20px;
				.col-lg-4 {
					border-left: 0;
				}
			}
		}
		
		
		.filterproduct-title {
			font-size: @fontsize-headingS;
		}
		
		
		.shop-products-section {
			.container-fluid {
				padding-right: 20px;
				padding-left: 20px;
				.products {
					.product-item {
						width: 100%;
					}
				}
			}
		}
	}
}