@media (max-width: 1692px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .social-feed-title-container {
                            .social-feed-title {
                                margin-top: -43px;
                                font-size: 50px;
                                width: 325px;
                                margin-left: 135px;
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                span.instagram-name {
                                    font-size: 28px;
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1566px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .social-feed-title-container {
                            .social-feed-title {
                                margin-top: -34px;
                                font-size: 40px;
                                width: 265px;
                                margin-left: 125px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1474px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .social-feed-title-container {
                            .social-feed-title {
                                margin-top: -30px;
                                font-size: 35px;
                                width: 230px;
                                margin-left: 115px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1425px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .social-feed-title-container {
                            .social-feed-title {
                                display: none;
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    a.btn-red-slider {
                                        margin-bottom: 12px;
                                        padding: 14px 101px;
                                    }
                                }
                                .featured-content.right {
                                    img {
                                        margin-top: 4%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1295px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                span.instagram-name {
                                    font-size: 25px;
                                    padding-left: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1183px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .featured-callout {
                            .container-fluid {
                                .featured-content.right {
                                    img {
                                        margin-top: 14%;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                span.instagram-name {
                                    font-size: 18px;
                                }
                                .porto-icon-instagram {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .featured-callout {
                            .container-fluid {
                                .featured-content.right {
                                    img {
                                        margin-top: 24%;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                span.instagram-name {
                                    padding-left: 46px;
                                }
                                .porto-icon-instagram {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .featured-callout {
                            .container-fluid {
                                .featured-content.right {
                                    img {
                                        margin-top: 34%;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .item {
                                        .black-overlay {
                                            .container {
                                                max-width: 920px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        margin-left: 30%;
                                    }
                                    .text-area {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                width: 30%;
                                span.instagram-name {
                                   font-size: 15px;
                                   padding-left: 65px;
                                }
                                .porto-icon-instagram {
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 871px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 175px;
                                    }
                                    .testimonial-text {
                                        padding-left: 220px;
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    width: 80%;
                                    padding-left: 210px;
                                    margin-top: -80px;
                                    .green-header { 
                                        box-shadow: 0px 10px 66px 26px rgba(0, 0, 0, 0.46);
                                    }
                                }
                                .featured-content.right {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        p {
                                                            span {
                                                                font-size: 56px !important;
                                                            }
                                                        }
                                                        a.btn-red-slider {
                                                            font-size: 25px;
                                                            line-height: 25px;
                                                            margin-top: 32px;
                                                            padding: 14px 72px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        margin-left: 43%;
                                    }
                                    .text-area {
                                        width: 40%;
                                        margin-left: 32%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    padding-left: 160px;
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 365px;
                                    }
                                    .testimonial-text {
                                        padding-left: 400px;
                                    }
                                    span.last-double-quote {
                                        top: 300px;
                                        right: 260px;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                span.instagram-name {
                                   display: none;
                                }
                                .porto-icon-instagram {
                                    padding-left: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 682px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        p {
                                                            span {
                                                                font-size: 45px !important;
                                                            }
                                                        }
                                                        a.btn-red-slider {
                                                            font-size: 23px;
                                                            line-height: 12px;
                                                            margin-top: 0px;
                                                            padding: 15px 39px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        margin-left: 38%;
                                    }
                                    .text-area {
                                        margin-left: 28%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    padding-left: 110px;
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 465px;
                                    }
                                    .testimonial-text {
                                        padding-left: 500px;
                                    }
                                    span.last-double-quote {
                                        top: 360px;
                                        right: 260px;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            .stripes-background {
                                width: 35%
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 534px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        top: 20% !important;
                                                        p {
                                                            span {
                                                                font-size: 30px !important;
                                                            }
                                                        }
                                                        a.btn-red-slider {
                                                            font-size: 21px;
                                                            line-height: 10px;
                                                            margin-top: 0px;
                                                            padding: 15px 39px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        margin-left: 38%;
                                    }
                                    .text-area {
                                        margin-left: 30%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    width: 100%;
                                    padding-left: 10%;
                                    a.btn-red-slider {
                                        padding: 14px 86px;
                                    }
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 515px;
                                    }
                                    .testimonial-text {
                                        padding: 160px 230px 0 550px;
                                        font-size: 17px;
                                    }
                                    .testimonial-type {
                                        margin-right: 280px;
                                    }
                                    span.last-double-quote {
                                        top: 340px;
                                        right: 230px;
                                    }
                                }
                            }
                        }
                        .instagram-header {
                            padding-bottom: 50px;
                            .stripes-background {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 510px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        top: 15% !important;
                                                        p {
                                                            span {
                                                                font-size: 30px !important;
                                                            }
                                                        }
                                                        a.btn-red-slider {
                                                            font-size: 20px;
                                                            line-height: 8px;
                                                            margin-top: 0px;
                                                            padding: 13px 30px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 473px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        top: 15px !important;
                                                        .banner-subtitle {
                                                            font-size: 15px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 575px;
                                    }
                                    .testimonial-text {
                                        padding: 160px 200px 0 610px;
                                        font-size: 15px;
                                    }
                                    .testimonial-type {
                                        margin-top: 45px;
                                        margin-right: 170px;
                                    }
                                    span.last-double-quote {
                                        top: 290px;
                                        right: 190px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 414px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .homepage-bar {
                            .container-fluid {
                                .content-callout {
                                    .porto-icon-shipping,
                                    .porto-icon-us-dollar,
                                    .porto-icon-support {
                                        margin-left: 32%;
                                    }
                                    .text-area {
                                        margin-left: 12%;
                                        text-align: center;
                                        width: 80%;
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    padding-left: 7%;
                                    a.btn-red-slider {
                                        padding: 14px 76px;
                                    }
                                    .green-header {
                                        font-size: 50px;
                                    }
                                    .white-header {
                                        font-size: 30px;
                                    }
                                }

                            }
                        }
                        .shop-products-section {
                            .container-fluid {
                                .filterproduct-title {
                                    .content {
                                        font-size: 29px;
                                        &:before, &:after {
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 615px;
                                    }
                                    .testimonial-text {
                                        padding: 160px 160px 0 650px;
                                        font-size: 14px;
                                    }
                                    .testimonial-type {
                                        margin-top: 45px;
                                        margin-right: 170px;
                                    }
                                    span.last-double-quote {
                                        top: 290px;
                                        right: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 357px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        top: 10px !important;
                                                        .banner-subtitle {
                                                            font-size: 14px;
                                                        }
                                                        p {
                                                            span {
                                                                font-size: 25px !important;
                                                            }
                                                        }
                                                        a.btn-red-slider {
                                                            margin-top: -14px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    padding-left: 6%;
                                    a.btn-red-slider {
                                        padding: 14px 66px;
                                    }
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    .testimonial-text {
                                        font-size: 12px;
                                    }
                                    span.last-double-quote {
                                        top: 250px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 331px) {
    body.cms-home {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .featured-callout {
                            .container-fluid {
                                .featured-content.left {
                                    a.btn-red-slider {
                                        padding: 14px 44px;
                                        margin-left: 8px;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            .owl-stage-outer {
                                .owl-stage {
                                    .owl-item {
                                        .item {
                                            .black-overlay {
                                                .container {
                                                    .content.content-slide-2 {
                                                        a.btn-red-slider {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .social-feed-header {
                            .image-overlay {
                                .testimonial-text-container {
                                    span.first-double-quote {
                                        left: 675px;
                                    }
                                    .testimonial-text {
                                        padding: 160px 155px 0 710px;
                                    }
                                    .testimonial-type {
                                        font-size: 16px;
                                        margin-top: 45px;
                                        margin-right: 120px;
                                    }
                                    span.last-double-quote {
                                        right: 130px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

