@media (max-width: 1444px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product.info.detailed {
                            width: 85%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1305px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product-info-main {
                            .product.info.detailed {
                                margin-left: 19%;
                            }
                            .product-info-price {
                                .product-info-stock-sku {
                                    left: -67px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product-info-main {
                            .product-info-price {
                                .product-info-stock-sku {
                                    left: -49px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1095px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product.info.detailed {
                            margin-left: 13%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product.info.detailed {
                            margin-left: 10%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                margin-left: 100px;
                .columns {
                    .column.main {
                        .product.info.detailed {
                            width: 115%;
                            margin-left: -5%;
                        }
                        .product-info-main {
                            padding-left: 50px;
                            .product-reviews-summary {
                                .reviews-actions {
                                    a {
                                        padding-top: 20px;
                                        border: none;
                                        padding-left: 0px;
                                        margin-left: 0;  
                                    }
                                }
                            }
                            .product-info-price {
                                .product-info-stock-sku {
                                    left: -36px;
                                }
                                .product-media {
                                    margin-top: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                margin-left: 0;
                .columns {
                    .column.main {
                        .product.info.detailed {
                            margin-left: -15px;
                            
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    body.catalog-product-view {
        overflow-x: hidden;
        .page-wrapper {
            main#maincontent {
                margin-left: 0;
                .columns {
                    .column.main {
                        .product.info.detailed {
                            margin-bottom: 40px;
                            .gray-line {
                                display: none;
                            }
                        }
                        .product-info-main {
                            .product-info-price {
                                .product-info-stock-sku {
                                    left: -49px;
                                }
                            }
                            .product-media {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 414px) {
    body.catalog-product-view {
        .page-wrapper {
            main#maincontent {
                .columns {
                    .column.main {
                        .product.info.detailed {
                            .product.data.items {
                                .data.item.title {
                                    padding-bottom: 6px;
                                }
                                .data.item.content {
                                    padding-left: 10px;
                                    .review-add {
                                        .block-content {
                                            width: 95%;    
                                        }
                                    }
                                }
                                #applications.tab {
                                    padding-left: 0px;
                                    width: 90%;
                                }
                            }
                        }
                        .product-info-main {
                            .product-info-price {
                                .product-info-stock-sku {
                                    left: -22px;
                                }
                            }
                        }
                        .related-products-section {
                            .container-fluid {
                                .filterproduct-title {
                                    .content {
                                        font-size: 34px;
                                        &:before, &:after {
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                        .product.media {
                            .gallery-placeholder {
                                .fotorama-item {
                                    .fotorama__wrap {
                                        .fotorama__stage {
                                            .fotorama__fullscreen-icon {
                                                color: @fecon-theme-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}