<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="syteline_integration" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label">
            <label>Syteline Integration</label>
            <tab>fecon</tab>
            <resource>Fecon_SytelineIntegration::config_fecon_sytelineintegration</resource>
            <group id="setting" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label">
                <label>Settings</label>
                <field id="test_mode" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label" type="select"  canRestore="1">
                    <label>Test Mode</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wsdl_url_production" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="40" translate="label" type="text" canRestore="1">
                    <label>WSDL Url Production</label>
                    <comment/>
                </field>
                <field id="wsdl_url_test" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="40" translate="label" type="text" canRestore="1">
                    <label>WSDL Url Test</label>
                    <comment/>
                </field>
                <field id="soap_version" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="70" translate="label" type="select" canRestore="1">
                    <label>SOAP Version</label>
                    <comment/>
                    <source_model>Fecon\SytelineIntegration\Model\Config\Source\SoapVersion</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
