<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Fecon_BackendConfig::Menu">
                    <resource id="Fecon_Shipping::Preorder" sortOrder="10" title="Preorder">
                        <resource id="Fecon_Shipping::Preorder_save" sortOrder="10" title="Save Preorder"/>
                        <resource id="Fecon_Shipping::Preorder_delete" sortOrder="20" title="Delete Preorder"/>
                        <resource id="Fecon_Shipping::Preorder_update" sortOrder="30" title="Update Preorder"/>
                        <resource id="Fecon_Shipping::Preorder_view" sortOrder="40" title="View Preorder"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
