<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fecon\Shipping\Api\PreorderRepositoryInterface" type="Fecon\Shipping\Model\PreorderRepository"/>
    <preference for="Fecon\Shipping\Api\Data\PreorderInterface" type="Fecon\Shipping\Model\Preorder"/>
    <preference for="Fecon\Shipping\Api\Data\PreorderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Fecon\Shipping\Model\ResourceModel\Preorder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">fecon_shipping_preorder</argument>
            <argument name="resourceModel" xsi:type="string">Fecon\Shipping\Model\ResourceModel\Preorder\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fecon_shipping_preorder_grid_data_source" xsi:type="string">Fecon\Shipping\Model\ResourceModel\Preorder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="modify_shipping_description" type="Fecon\Shipping\Plugin\ShippingDescription"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_Margin_to_Freight_Costs_to_method_rate" type="Fecon\Shipping\Plugin\Quote\Address\Rate"/>
    </type>
</config>
