<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer instance="Fecon\Shipping\Observer\Payment\MethodIsActive" name="fecon_shipping_observer_payment_methodisactive_payment_method_is_active"/>
    </event>
</config>
