<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) Shop.Fecon.com, Inc. (https://shop.fecon.com/)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="brsw_cardconnect" xsi:type="const">Brsw\CardConnect\Model\CardConnect::CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="brsw_cardconnect_config_provider" xsi:type="object">Brsw\CardConnect\Model\CardConnectConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
